<p id="notice"><%= notice %></p>

<h1>Listing Organisations</h1>

<table id="organisations">
    <tr>
        <th>Name</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
    </tr>
    <% @organisations.each do |org| %>
    <tr>
        <td><%= org.name %></td>
        <td><%= org.street %></td>
        <td><%= org.city %></td>
        <td><%= org.state %></td>
    </tr>
    <% end %>
</table>

<%= form_tag import_organisations_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Import" %>
<% end %>
