<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @organisation.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @organisation.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @organisation.state %>
</p>

<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>
